<a href="https://colab.research.google.com/github/ashishyadav2271/Data-handeling-with-Pandas/blob/main/23071002271_Ashish_2A_pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### How to create Series with Mutable index

In [ ]:
import numpy as np
import pandas as pd
arr=np.array([10,15,20,25])
s=pd.Series(arr, index =['first', 'second', 'third','fourth'])
print(s)

first     10
second    15
third     20
fourth    25
dtype: int64

 seriesobject=pandas.Series(data, index=idx (optional)).

In [ ]:
import numpy as np
import pandas as pd
arr =np.array([10,15,18,32])
s = pd.Series(arr)
print (s)
type(s)

0    10
1    15
2    18
3    32
dtype: int64

pandas.core.series.Series

##Creating a Series froim Scalar value

In [ ]:
import numpy as np
import pandas as pd
idx= [0,1,2,3,4,]
s= pd.Series (50, index=idx)
print (s)

0    50
1    50
2    50
3    50
4    50
dtype: int64

## Creating a series from a Dictionary

In [ ]:
#dictionary are used by makeing key :value
import numpy as np
import pandas as pd
d={'Name': 'virat','IPL_Team':'Delhi','Runs':'10345'}
s=pd.Series(d)
print (s)

Name        virat
IPL_Team    Delhi
Runs        10345
dtype: object

##Mathematical Operations in Series

In [ ]:
import numpy as np
import pandas as pd
s1=pd.Series([1,2,3,4,5], index=(['a','b','c','d','e']))
s2=pd.Series ([10,20,30,40,50],index=(['a','b','c','d','e']))
s3=pd.Series([50,30,10,20,], index=(['a','b','c','d']))
print('To add series l & series 2')
print(s1+s2)
print('To add series 2 & series 3 ')
print(s2+s3)
print ('To add series 2 and series 3 and filled on matching')
print(s2.add(s3, fill_value=5))

To add series l & series 2
a    11
b    22
c    33
d    44
e    55
dtype: int64
To add series 2 & series 3
a    60.0
b    50.0
c    40.0
d    60.0
e     NaN
dtype: float64
To add series 2 and series 3 and filled on matching
a    60.0
b    50.0
c    40.0
d    60.0
e    55.0
dtype: float64

In [ ]:
import numpy as np
import pandas as pd
s= pd .Series([1,2,3,4,5])
print ('multiply every no with 2')
print (s*2)
print ('find the square of every value')
print (s**2)
print ('print all numbers which is smaller than 2')
print (s[s>2])

multiply every no with 2
0     2
1     4
2     6
3     8
4    10
dtype: int64
find the square of every value
0     1
1     4
2     9
3    16
4    25
dtype: int64
print all numbers which is smaller than 2
2    3
3    4
4    5
dtype: int64

##LOC index Label